body {
    background-color:rgb(237, 235, 215);
}



#navbar nav{
    display:flex;
    background-color:rgb(77, 142, 203);
   
}

#navbar nav a{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color:black;
    margin: .5rem;
    text-decoration-line:none;
    font-weight: bold;
    flex: auto;
}

.index-body{
    margin: 1rem;
}

h1, h2{
    font-family:'Courier New', Courier, monospace;
    
}

.login-div{
    display:flex;
}

input, button{
    flex-direction: column;
    flex-basis: 100%;
}

